@using Kachuwa.Web
@model  Kachuwa.Web.Pager

<!-- pager -->
@if (Model.EndPage > 1)
{
    <ul class="@Model.WrapperClass">
        @if (Model.CurrentPage > 1)
        {
            <li class="@Model.FirstClass">
                <a href="@Model.Api">First</a>
            </li>
            <li class="@Model.PrevClass">
                <a href="@Model.Api/@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (var page = Model.StartPage; page <= Model.EndPage; page++)
        {
            <li class="@(page == Model.CurrentPage ? Model.ActiveClass : "")">
                <a href="@Model.Api/@page">@page</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="@Model.NextClass">
                <a href="@Model.Api/@(Model.CurrentPage + 1)">Next</a>
            </li>
            <li class="@Model.LastClass">
                <a href="@Model.Api/@(Model.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
