@using Kachuwa.Web.Grid;
@using Kachuwa.Web
@using Microsoft.Extensions.Primitives
@using Newtonsoft.Json
@model IKachuwaGrid
@{
    StringValues query;
    ContextResolver.Context.Request.Query.TryGetValue("query", out query);
    if (string.IsNullOrEmpty(query))
    {
        query = "";
    }

}
<link href="/module/KachuwaGrid/resources/css/kgridstyle.css" rel="stylesheet" />
<link href="/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />

<div id="@Model.Name" class="kachuwa-grid">
    @if (!Model.Rows.Any() && Model.NoDataTemplate != null)
    {
        @(Model.NoDataTemplate.Invoke(null))
    }
    else
    {
        @if (!Model.UseCardView)
        {
            if (!Model.HideSearchBar)
            {
                <div class="kachuwa-filters float-right ">
                    <form method="get"  class="">
                        <div class="searchbar navbar-form @Model.SearchBarClasses">
                            <div class="input-group">
                                <input type="text" value="@query" placeholder="search..." name="query" class="form-control" />
                                @if (!Model.HideSearcButton)
                                {<div class="input-group-append">
                                        <button  type="submit" class="btn btn-secondary" >
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                }
                                </div>                            
                        </div>
                    </form>
                </div>
            }
            <table class="table @Model.CssClasses">
                <thead>
                    <tr>
                        @if (!Model.DisableRowSelection)
                        {
                            <th>

                            </th>
                        }
                        @foreach (IKachuwaGridColumn column in Model.Columns)
                        {

                            <th class=" @column.CssClasses"
                                data-name="@column.Name">
                                <span class="kachuwa-grid-header">@column.Title</span>
                            </th>

                        }
                        <th style="width: 15%;">

                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Rows.Any())
                    {
                        foreach (IKachuwaGridRow<Object> row in Model.Rows)
                        {
                            <tr class="@row.CssClasses"
                                @*data-item="@JsonConvert.SerializeObject(row.Model)" *@>
                                @if (!Model.DisableRowSelection)
                                {
                                    <td>
                                        <input type="checkbox" value="@row.GetPriamaryKey()" class="kachuwa-grid-item" />
                                    </td>
                                }

                                @foreach (IKachuwaGridColumn column in Model.Columns)
                                {
                                    <td class="@column.CssClasses">
                                        @column.ValueFor(row)
                                    </td>
                                }
                                <td style="width: 15%;">
                                    @foreach (IKachuwaGridCommand command in Model.Commands)
                                    {
                                        if (command.ClientCallback == "")
                                        {
                                            <a href="@command.ValueFor(row)" class="command-link @command.CssClasses"
                                               command="@command.Command">
                                                <span class="fa-stack">
                                                    <i class="@command.IconClass "></i>
                                                </span>
                                            </a>
                                        }
                                        else
                                        {
                                            string callback = command.ClientCallback + "(this," + command.ValueFor(row) + ")";

                                            <a href="#" class="command-link @command.CssClasses"
                                               command="@command.Command"
                                               callbackApi="@command.ClientCallbackUrl"
                                               onclick="@callback">
                                                <span class="fa-stack">
                                                    <i class="@command.IconClass "></i>
                                                </span>
                                            </a>
                                        }


                                    }
                                </td>

                            </tr>
                        }
                    }
                    else if (Model.NoDataText != null)
                    {
                        <tr>
                            <td></td>
                            @{ var totalCols = Model.Columns.Count() + 1; }
                            <td class="kachuwa-grid-emptyrow" colspan="@totalCols">
                                @Model.NoDataText
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        { if (!Model.HideSearchBar)
        {
            <div class="kachuwa-filters dflex ">
                <form method="get" class="">
                    <div class="searchbar navbar-form @Model.SearchBarClasses">
                        <div class="form-group">
                            <input type="text" value="@query" placeholder="search..." name="query" class="form-control" />
                            @if (!Model.HideSearcButton)
                            {
                                <button type="submit" command="search" class="btn btn-default">
                                    <i class="material-icons md-18">search</i>
                                </button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        }
            @if (Model.Rows.Any())
            {
                foreach (IKachuwaGridRow<Object> row in Model.Rows)
                {

                        foreach (IKachuwaGridColumn column in Model.Columns)
                        {
                            <div class="@column.CssClasses">
                                @column.ValueFor(row)
                            </div>
                        }
                    
                }
            }
            else if (Model.NoDataText != null)
            {

                { var totalCols = Model.Columns.Count() + 1; }

                <div class="row">@Model.NoDataText</div>

            }

        }
    }
    @if (Model.Pager != null)
    {

        <div class="col-md-12">
            <!-- pager -->
            @await Component.InvokeAsync("Pagination", Model.Pager)
        </div>

    }
</div>

<script src="/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/module/kachuwagrid/resources/js/kachuwagrid.js"></script>
