@using Kachuwa.Web
@model Kachuwa.Web.Pager
@{
    var query = ContextResolver.Context.Request.QueryString.Value;
    if (string.IsNullOrEmpty(query))
    {
        query = "";
    }
}
<!-- pager -->
@if (Model.EndPage > 1)
{
    <ul class="@Model.WrapperClass">
        @if (Model.CurrentPage > 1)
        {
            <li class="@Model.FirstClass @Model.ItemClass">
                <a class="@Model.LinkClass" href="@Model.Api/page/@query">First</a>
            </li>
            <li class="@Model.PrevClass @Model.ItemClass">
                <a href="@Model.Api/page/@(Model.CurrentPage - 1)@query" class="@Model.LinkClass">Previous</a>
            </li>
        }

        @for (var xpage = Model.StartPage; xpage <= Model.EndPage; xpage++)
        {
            <li class="@(xpage == Model.CurrentPage ? Model.ActiveClass : "") @Model.ItemClass">
                <a  class="@Model.LinkClass" href="@Model.Api/page/@xpage@query">@xpage</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="@Model.NextClass @Model.ItemClass">
                <a class="@Model.LinkClass" href="@Model.Api/page/@(Model.CurrentPage + 1)@query">Next</a>
            </li>
            <li class="@Model.LastClass @Model.ItemClass">
                <a class="@Model.LinkClass" href="@Model.Api/page/@(Model.TotalPages)@query">Last</a>
            </li>
        }
    </ul>
}
