@using Kachuwa.Identity.Models
@using Kachuwa.Web.Form
@using Kachuwa.Web.Grid
@using Kachuwa.Localization
@model Kachuwa.Identity.Models.UserImportViewModel
@inject ILocaleResourceProvider LocaleResource
@{

    LocaleResource.LookUpGroupAt("User");
    ViewData["Title"] = LocaleResource.Get("User.PageTitle.Import");
    FormDatasource dataSource = (FormDatasource)ViewData["FormDataSource"];
}

<section class="container-fluid">
    <div class="row">
        <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="cardform-wrapper">

                @(Html.CreateKachuwaForm<UserImportViewModel>("taxrateForm", Model)
                                                        .SetHeading("")
                                                        .ActionUrl("/admin/user/import")
                                                        .CancelUrl("/admin/user")
                      .EncType("multipart/form-data")
                                                        .CreateSection(section =>
                                                        {
                                                            section.Add("section1", "form-section", rows =>
                                                            {
                                                                rows.Add("1strow", "row", columns =>
                                                                {
                                                                    columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                                        <h4>@LocaleResource.Get("User.Info.User")</h4>
                                                                                                        <p>@LocaleResource.Get("User.Info.UserText")</p>
                                                                                                    </div>);
                                                                    columns.Add("right", "col-md-8", control =>
                                                                    {                                                                      
                                                                      

                                                                        control.Add("form-control", model => model.AutoGenerateEmailAddress, FormInputControl.Switch)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.Help.AutoGenerateEmailAddress"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.PlaceHolder.AutoGenerateEmailAddress"))
                                                                            .SetDisplayName(LocaleResource.Get("User.Form.AutoGenerateEmailAddress"));
                                                                        control.Add("form-control", model => model.AutoGenerateUserName, FormInputControl.Switch)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.Help.AutoGenerateUserName"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.PlaceHolder.AutoGenerateUserName"))
                                                                            .SetDisplayName(LocaleResource.Get("User.Form.AutoGenerateUserName"));
                                                                        control.Add("form-control", model => model.ImportFile, FormInputControl.File)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.Help.ImportFile"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.PlaceHolder.ImportFile"))
                                                                            .SetDisplayName(LocaleResource.Get("User.Form.ImportFile"));

                                                                    }).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                                                });
                                                                rows.Add("2ndRow", "row", columns =>
                                                                {
                                                                    columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                                        <h4>@LocaleResource.Get("User.Info.Role")</h4>
                                                                                                        <p>@LocaleResource.Get("User.Info.RoleInfo")</p>
                                                                                                    </div>);
                                                                    columns.Add("right", "col-md-8", @<div class="col-md-12">
                                                                                                         <div class="col-md-6">
                                                                                                             <label>@LocaleResource.Get("User.Form.Roles")</label>
                                                                                                             <div style="max-height: 200px; overflow: auto;">
                                                                                                                 <ul class="list-group checked-list-box" style="margin-bottom: 0px;">
                                                                                                                     @{
                                                                                                                         var counter = 0;

                                                                                                                     }
                                                                                                                     @foreach (var role in Model.UserRoles)
                                                                                                                     {
                                                                                                                         <li class="list-group-item" data-name="UserRoles[@counter]" data-selected="false" data-val="@role.RoleId">

                                                                                                                             @role.Name

                                                                                                                         </li>

                                                                                                                         counter++;
                                                                                                                     }

                                                                                                                 </ul>
                                                                                                             </div>
                                                                                                         </div>
                                                                                                         <div class="col-md-12">
                                                                                                             <table style="color: red;" class="table bg-error">
                                                                                                                 @foreach (var errorUser in Model.Users)
                                                                                                                 {
                                                                                                                     <tr>
                                                                                                                         <td>@errorUser.FirstName @errorUser.LastName</td>
                                                                                                                         <td>@errorUser.ImportMessage</td>
                                                                                                                     </tr>
                                                                                                                 }
                                                                                                             </table>
                                                                                                             <div style="color: red;" asp-validation-summary="All"></div>
                                                                                                         </div>
                                                                                                     </div>
                                                                        ).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                                                });
                                                            })
                                                                .SetHeading(LocaleResource.Get("User.Form.Title.Import"));
                                                        }))
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script asp-add-nonce="true">
        (function () {
            var categoryListInit = function () {

                var reArrangeIndex = function () {

                    $('.list-group.checked-list-box .list-group-item.active').each(function (index, item) {
                        var li = $(item);
                        li.find("input:hidden.isselected").prop("name", "UserRoles[" + index + "].IsSelected");

                        li.find("input:checkbox").prop("name", "UserRoles[" + index + "].RoleId");
                    });
                }

                //startSortable();
                $('.list-group.checked-list-box .list-group-item').each(function () {
                    // Settings
                    var $widget = $(this),
                        $checkbox = $('<input type="checkbox" class="hidden" />'),
                        color = ($widget.data('color') ? $widget.data('color') : "primary"),
                        style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                        settings = {
                            on: {
                                icon: 'fa fa-check-square'
                            },
                            off: {
                                icon: 'fa fa-unchecked'
                            }
                        };
                    //console.log($widget.data())
                    var isSelcted = $widget.data('selected');
                    if (isSelcted) {
                        $checkbox.prop('checked', true);
                    }
                    $checkbox.prop('name', $widget.data('name'));
                    $checkbox.prop('value', $widget.data('val'));
                    $widget.css('cursor', 'pointer');
                    $widget.append($checkbox);
                    $widget.append("<input type='hidden' class='isselected' name='' value='false'>");
                    // Event Handlers
                    $widget.on('click',
                        function () {
                            $checkbox.prop('checked', !$checkbox.is(':checked'));
                            $checkbox.triggerHandler('change');

                            if ($checkbox.is(':checked')) {
                                $widget.find("input:hidden.isselected").val(true);
                            } else { $widget.find("input:hidden.isselected").val(false); }
                            //if ($widget.find("input:hidden").length > 0) {
                            //    if () {

                            //        $widget.append("<input type='hidden' class='isselected'  value='" +
                            //            $checkbox.prop('value') +
                            //            "'/>");
                            //    } else {
                            //        $widget.find("input:hidden").remove();
                            //    }
                            //} else {
                            //    if ($checkbox.is(':checked')) {

                            //        $widget.append("<input type='hidden'  class='isselected'  value='" +
                            //            $checkbox.prop('value') +
                            //            "'/>");
                            //    } else {
                            //        $widget.find("input:hidden").remove();
                            //    }

                            //}

                            updateDisplay();
                        });
                    $checkbox.on('change',
                        function () {
                            updateDisplay();
                        });


                    // Actions
                    function updateDisplay() {
                        var isChecked = $checkbox.is(':checked');

                        // Set the button's state
                        $widget.data('state', (isChecked) ? "on" : "off");

                        // Set the button's icon
                        $widget.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$widget.data('state')].icon);

                        // Update the button's color
                        if (isChecked) {
                            $widget.addClass(style + color + ' active');
                        } else {
                            $widget.removeClass(style + color + ' active');
                        }
                        reArrangeIndex();

                    }

                    // Initialization
                    function init() {

                        if ($widget.data('checked') == true) {
                            $checkbox.prop('checked', !$checkbox.is(':checked'));
                        }

                        updateDisplay();

                        // Inject the icon if applicable
                        if ($widget.find('.state-icon').length == 0) {
                            $widget.prepend('<span class="state-icon ' +
                                settings[$widget.data('state')].icon +
                                '"></span>');
                        }
                    }

                    init();
                });

                $('#get-checked-data').on('click',
                    function (event) {
                        event.preventDefault();
                        var checkedItems = {}, counter = 0;
                        $("#check-list-box li.active").each(function (idx, li) {
                            checkedItems[counter] = $(li).text();
                            counter++;
                        });
                        $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
                    });
            };
            categoryListInit();


        })();
    </script>
}