@using Kachuwa.KGrid
@using Kachuwa.Web
@model  KachuwaPager
@{
    var query = ContextResolver.Context.Request.QueryString.Value;
    if (string.IsNullOrEmpty(query))
    {
        query = "";
    }
    else
    {
        query = "?query=" + query; }
}
<!-- pager -->
@if (Model.EndPage > 1)
{
    <ul class="@Model.WrapperClass">
        @if (Model.CurrentPage > 1)
        {
            <li class="@Model.FirstClass">
                <a href="@Model.Api@query">First</a>
            </li>
            <li class="@Model.PrevClass">
                <a href="@Model.Api/@(Model.CurrentPage - 1)@query">Previous</a>
            </li>
        }

        @for (var page = Model.StartPage; page <= Model.EndPage; page++)
        {
            <li class="@(page == Model.CurrentPage ? Model.ActiveClass : "")">
                @{ string url = page + query;}
                <a href="@Model.Api/@url">
                    @page
                </a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="@Model.NextClass">
                <a href="@Model.Api/@(Model.CurrentPage + 1)@query">Next</a>
            </li>
            <li class="@Model.LastClass">
                <a href="@Model.Api/@(Model.TotalPages)@query">Last</a>
            </li>
        }
    </ul>
}
