@using Kachuwa.Web
@using Kachuwa.KGrid
@using Kachuwa.Web.Module
@model IEnumerable<ModuleInfo>
@{
    ViewData["Title"] = "Modules";
}
<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel_wrapper">
                <div class="panel module" aria-multiselectable="true">
                    <div class="panel-inner">
                        <div class="panel-heading dflex space-between">
                            <h2 class="panel-title">Modules</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                @foreach (var module in Model)
                                {

                                    <div class="col-md-2 card">
                                        <div class="card-title col-md-12">
                                            <a href="javascript:void(0);">@module.Name</a><br />
                                            <span>@module.Version</span>
                                        </div>
                                        <div class="card-tab col-md-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#general_@module.Name" aria-controls="#general_@module.Name" role="tab" data-toggle="tab">Info</a></li>
                                                <li role="presentation"><a href="#description_@module.Name" aria-controls="description_@module.Name" role="tab" data-toggle="tab">Description</a></li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="general_@module.Name">
                                                    <ul>
                                                        <li>Is Installed<span>@module.IsInstalled</span></li>
                                                        <li>Is BuiltIn<span>@module.IsBuiltIn</span></li>
                                                        @if (module.IsInstalled)
                                                        {
                                                            if (module.IsBuiltIn)
                                                            {
                                                                <li>
                                                                    <button data-module="@module.Name" class="btn btn-danger has-mdicon disabled ">
                                                                        <i class="material-icons md-18">ic_close</i> Uninstall
                                                                    </button>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <button data-module="@module.Name"  class="btn btn-danger has-mdicon uninstall">
                                                                        <i class="material-icons md-18">ic_close</i> Uninstall
                                                                    </button>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <button data-module="@module.Name"  class="btn btn-success has-mdicon install">
                                                                    <i class="material-icons md-18">save</i> Install
                                                                </button>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="description_@module.Name">
                                                    <ul>
                                                        <li>@module.Description</li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <pagination page="@ViewBag.Page" api="/admin/module/page" pageSize="8" rowTotal="@ViewBag.Page"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script asp-add-nonce="true">
    (function() {
        var moduleManager = function() {
            var ajaxCall = function(url, param, successFx, error) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: url,
                    data: param,
                    success: successFx,
                    error: error
                });
            };

            var uiEvents = function() {
                $(document).off("click", ".install").on("click",
                    ".install",
                    function () {
                        var btn = $(this);
                        var moduleName = btn.data('module');
                        if (confirm("Are you sure? want to install?")) {
                            console.log(moduleName)
                            ajaxCall("/admin/module/install",
                                { moduleName: moduleName},
                                function(response) {
                                    if (response.Code == 200) {
                                        btn.removeClass("install")
                                            .removeClass("btn-success")
                                            .addClass("btn-danger")
                                            .addClass("uninstall");
                                        btn.parents("ul:eq(0)").find("li:eq(0)").html("Is Installed<span>True</span>");
                                        btn.html("<i class=\"material-icons md-18\">ic_close</i>Uninstall");
                                    }

                                },
                                function() {});
                        }
                    });
                $(document).off("click", ".uninstall").on("click",
                    ".uninstall",
                    function () {
                        var btn = $(this);
                        if (confirm("Are you sure? want to uninstall?")) {
                            var moduleName = $(this).data('module');
                           
                            ajaxCall("/admin/module/uninstall",
                                { moduleName: moduleName},
                                function (response) {
                                    if (response.Code == 200) {
                                        btn.removeClass("uninstall")
                                            .removeClass("btn-danger")
                                            .addClass("btn-success").addClass("install");
                                        btn.parents("ul:eq(0)").find("li:eq(0)").html("Is Installed<span>False</span>");
                                        btn.html("<i class=\"material-icons md-18\">save</i>Install");
                                    }

                                },
                                function () { });
                        }
                    });
            };

            var init = function() {
                uiEvents();
            }
            return { init: init };
        }();
        moduleManager.init();

    })();

</script>

