@using Kachuwa.KGrid;
@model IKachuwaGrid


@section cssStyles {

    <link href="/module/KachuwaGrid/resources/css/kgridstyle.css" rel="stylesheet" />
}

<link href="/module/KachuwaGrid/resources/css/kgridstyle.css" rel="stylesheet" />

<div id="@Model.Name" class="kachuwa-grid">
    <table class="table @Model.CssClasses">
        <thead>
            <tr>
                <th>

                </th>
                @foreach (IKachuwaGridColumn column in Model.Columns)
                {

                    <th class=" @column.CssClasses"
                        data-name="@column.Name">
                        <span class="kachuwa-grid-header">@column.Title</span>
                    </th>

                }
                <th style="width: 20%;">

                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Any())
            {
                foreach (IKachuwaGridRow<Object> row in Model.Rows)
                {
                    <tr class="@row.CssClasses">

                        <td>
                            <input type="checkbox" value="@row.GetPriamaryKey()" class="kachuwa-grid-item" />
                        </td>

                        @foreach (IKachuwaGridColumn column in Model.Columns)
                        {
                            <td class="@column.CssClasses">
                                @column.ValueFor(row)
                            </td>
                        }
                        <td style="width: 20%;">
                            @foreach (IKachuwaGridCommand command in Model.Commands)
                            {
                                <a href="#" class="command-link @command.CssClasses"
                                   command="@command.Command"
                                   onclick="@command.ClientCallback">
                                    <span class="fa-stack">
                                        <i class="@command.IconClass "></i>
                                    </span>
                                </a>



                            }
                        </td>

                    </tr>
                }
            }
            else if (Model.NoDataText != null)
            {
                <tr>
                    <td class="mvc-grid-empty" colspan="@Model.Columns.Count()">
                        @Model.NoDataText
                    </td>
                </tr>
            }
        </tbody>
        @*@if (Model.FooterPartialViewName)
            {  @Html.Partial("KachuwaGrid/_Pager", Model.Pager)
                <tfoot>
                    @Html.Partial(Model.FooterPartialViewName, Model)
                </tfoot>
            }*@
    </table>
    @if (Model.Pager != null)
    {
        <div class="col-md-12">
            @await Component.InvokeAsync("KachuwaPagination", Model.Pager)
        </div>

    }
</div>



@section scripts{
    
}