@using Kachuwa.Configuration
@using Kachuwa.Localization
@using Kachuwa.Plugin
@model IEnumerable<Kachuwa.Web.Theme.ThemeInfo>
@inject ILocaleResourceProvider LocaleResource
@{
    LocaleResource.LookUpGroupAt("Themes");
    ViewData["Title"] = LocaleResource.Get("Themes.PageTitle");
    var config = (KachuwaAppConfig)ViewData["Config"];
}
<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="grid-section">
                <div class="panel module" aria-multiselectable="true">
                    <div class="panel-inner">                       
                        <div class="panel-heading clearfix">
                            <h2 class="panel-title float-left">@LocaleResource.Get("Themes.PageTitle")</h2>

                            <div class="float-right">
                                <div class="input-group-btn ">
                                    <a href="/admin/theme/new" class="btn btn-primary btn-sm has-mdicon">
                                        <i class="material-icons md-18">add</i>
                                        @LocaleResource.Get("Themes.AddNewButtonText")
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            @*<div class="dc-view-switcher">
                <button data-trigger="grid-view">
                    <i class="fas fa-th-large"></i>
                </button>
                <button data-trigger="list-view" class="active">
                    <i class="fas fa-th-list"></i>
                </button>
            </div>*@
                            <div data-view="grid-view" class="kachuwa-cards">
                                @foreach (var item in Model)
                                {
                                    <div class="kachuwa-card" data-theme="@item.ThemeName">
                                        <div class="kachuwa-card__icon-box"></div>
                                        <div class="kachuwa-card__content-box">
                                            <div class="content">
                                                <h2 class="kachuwa-card__content-box__catagory">@item.Author</h2>
                                                <h3 class="kachuwa-card__content-box__title">  @item.ThemeName</h3>
                                                <p class="kachuwa-card__content-box__description"> @item.Version </p>
                                                @if (item.IsAdminTheme)
                                                {
                                                    if (config.AdminTheme.ToLower() == item.ThemeName.ToLower())
                                                    {
                                                        <label class="switch">
                                                            <input type="checkbox" name="admin" checked="checked" disabled="disabled" />
                                                            <div class="switchslider round"></div>
                                                        </label>
                                                    }
                                                    else
                                                    {

                                                        <label class="switch">
                                                            <input type="checkbox" name="admin" disabled="disabled" />
                                                            <div class="switchslider round"></div>
                                                        </label>
                                                    }
                                                }
                                                else
                                                {
                                                    if (config.Theme.ToLower() == item.ThemeName.ToLower())
                                                    {
                                                        <label class="switch">
                                                            <input type="checkbox" name="user" checked="checked" />
                                                            <div class="switchslider round"></div>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="switch">
                                                            <input type="checkbox" name="user" />
                                                            <div class="switchslider round"></div>
                                                        </label>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="/module/KachuwaGrid/resources/css/kgridstyle.min.css" rel="stylesheet" />
@section scripts{
    <script type="text/javascript">
        var downloadGrid = (function () {
            "use strict";
            var $cardContainer = $('.kachuwa-cards');
            var $downloadCard = $('.kachuwa-card__content-box');
            var $viewTrigger = $('button').attr('data', 'trigger');
            function swapTriggerActiveClass(e) {
                $viewTrigger.removeClass('active');
                $(e.target).addClass('active');
            }

            function swapView(e) {
                var $currentView = $(e.target).attr('data-trigger');
                $cardContainer.attr('data-view', $currentView);
            }

            $(document).ready(function () {
                // Event Listener
                $viewTrigger.click(function (e) {
                    swapTriggerActiveClass(e);
                    swapView(e);
                });
            });
        })();
        
        var plugins = function() {
            var $ajaxCall = function(data, url, success, error) {
                $.ajax({
                    type: "POST",
                    async: true,
                    url: url,
                    data: data,
                    success: success,
                    error: error
                });
            };
            var makedefaulttheme = function(item) {
                $ajaxCall({ ThemeName: item },
                    '/admin/theme/change',
                    function(response) {
                        if (response.Data) {
                            //$.toast({
                            //    heading: "Success",
                            //    text: response.Message,
                            //    position: 'bottom-right',
                            //    stack: false,
                            //    bgColor: '#80A001',
                            //    allowToastClose: false,
                            //    loader: true, // Change it to false to disable loader
                            //    loaderBg: '#9EC600' // To change the background

                            //});
                        } else {
                            //$.toast({
                            //    heading: 'Error',
                            //    text: 'Something went wrong :(',
                            //    showHideTransition: 'fade',
                            //    position: 'bottom-right',
                            //    stack: false,
                            //    icon: 'error'
                            //});
                        }
                    },
                    function(response) {
                    });
            };

            var init = function() {
                $(document).off("change", ".switch input").on("change",
                    ".switch input",
                    function() {
                        var ischecked = $(this).is(":checked");
                        var item = $.trim($(this).parents("div.kachuwa-card").data('theme'));
                        if (ischecked) {
                            if (confirm("Are you sure want to change theme?")) {
                                $(".switch input[name=user]").not($(this)).attr('checked', false);
                                makedefaulttheme(item);
                            } else {
                                $(this).prop("checked", false);
                            }
                        } else {
                            //if (confirm("Are you sure want to stop using?")) {
                            //    makedefaulttheme(item);
                            //} else {
                            //    $(this).prop("checked", true);

                            //}
                        }
                    });
            }();
        }();
    </script>
}